<!DOCTYPE html>
<html>
  <head>
    <title>ArtSwap</title>
    <style type="text/css" media="screen">
      body {
        margin: ;
        margin-bottom: 25px;
        margin-top: 25px;
        padding: 0;
        background-color: #1d1a21;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #7f7190;
      }
      
      #page {
        padding: 13px;
      }

      #header {
        margin-bottom: 15px;
      }

      #loginbox {
        float:right;
        width: 180px;
        height: 80px;
        border: 3px solid #302b35;
      }
      
      #content {
        border: 3px solid #302b35;
        padding: 25px;
        width: auto;
        height: auto;
      }

      #page {
        background-color: #232027;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
      }

      #footer {
        clear: both;
      }


      #body {
        border-top: 1px solid #302b35;
        margin-top: 25px;
        padding-top: 15px;
        color: #7f7190;
      }
    }


    </style>
  </head>

  <body>
    <div id="page">
      
      <style type="text/css">
        a:link {color: #4e7300; text-decoration: underline; }
        a:active {color: #8fba06; text-decoration: underline; }
        a:visited {color: #9383a7; text-decoration: underline; }
        a:hover {color: #719506; text-decoration: none; }
      </style>


      <div id='loginbox'>
          <%= loginbox %>
      </div>
      
      <div id='header'>
        <a href = "/pages/home">
          <img src= "/images/logo.png" />
        </a>
      </div>
      
      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
